{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>


		<h1>KSITM ALAPPUZHA</h1>
		<p>
		  ജനങ്ങള്‍ക്ക് പൊതു സേവന കേന്ദ്രങ്ങള്‍ വഴിയും, വെബ് പോര്‍ട്ടല്‍ വഴിയും സര്‍ക്കാരിന്റെ സേവനങ്ങള്‍ നല്‍കുവാന്‍ വേണ്ടി ഉദ്ദേശിച്ചു നടപ്പിലാക്കുന്ന പദ്ധതിയാണ് ഇ-ഡിസ്ട്രിക്റ്റ്. വിവിധ ഡിപ്പാര്‍ട്മെന്‍റുകളില്‍ നിന്നുള്ള സേവനങ്ങള്‍ ഏതൊരു സേവന കേന്ദ്രത്തില്‍ കൂടിയും ലഭ്യമാകുന്നതാണ്. ചില സേവനങ്ങള്‍ ഓണ്‍ലൈന്‍ വെബ് പോര്‍ട്ടല്‍ വഴിയും ലഭ്യമാകുന്നതാണ്. അതാത് വകുപ്പുകളില്‍ നടപ്പിലാക്കിയ കമ്പ്യൂട്ടര്‍ വല്‍ക്കരണം പരമാവധി പ്രയോജനപ്പെടുത്തി സുതാര്യമായും നിഷ്പക്ഷമായും വേഗതയിലും സേവനങ്ങള്‍ ലഭ്യമാക്കുകയാണ് ഇതുകൊണ്ട് ഉദ്ദേശിക്കുന്നത്. ഇതിനാവശ്യമായ നടപടി ക്രമങ്ങളിലെ ലഘൂകരണവും ഇതുവഴി നടപ്പിലാക്കുന്നു. ചുരുക്കത്തില്‍ ആയാസരഹിതമായും കുറഞ്ഞ സമയത്തിനുള്ളിലും സേവനങ്ങള്‍ ലഭ്യമാക്കുന്നതിനു പ്രത്യേകം തയ്യാറാക്കിയ പദ്ധതിയാണ് ഇ-ഡിസ്ട്രിക്റ്റ്.
		ok
		</p>
		
	
{{ partial "footer.html" . }}
